.cv {
    font-size: 40px;
    padding-top: 5%;
}

.cv > p {
    letter-spacing: 5px;
    cursor: pointer;
}

.cv__body {
    font-size: 26px;
}

.cv__body > img {
    border: 1px solid black;
    height: 100px;
    width: 150px;
    margin: 20px;
}

.cv__bodyShow {
    animation: show 1.5s 1;
}

.cv__bodyHidden {
    animation: hide 1.5s 1;
    color: white;
    margin-bottom: -150px;
    opacity: 0%;
}

@keyframes show {
    0% {
        color: white;
        opacity: 0%;
        margin-bottom: -150px;
    }
}

@keyframes hide {
    0% {
        color: black;
        opacity: 100%;
        margin-bottom: 0px;
    }
}
