.profile {
    font-size: 40px;
    padding-top: 5%;
}

.profile > p {
    letter-spacing: 5px;
    cursor: pointer;
}

.profile__body {
    margin: 0px auto;
    width: 60vw;
    font-size: 24px;
}

.profile__bodyShow {
    animation: show 1.5s 1;
    margin-top: 50px;
}

.profile__bodyHidden {
    margin-top: 50px;
    animation: hide 1.5s 1;
    color: white;
    opacity: 0%;
    margin-bottom: -120px;
}

.idea {
    color: #FF876D;
}


