.app {
  text-align: center;
  width: 100%;
}

.section__border {
  margin-top: 5%;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  color: black;
}

.app_body {
  position: relative;
  min-height: 100vh;
}

.app_elements {
  padding: 200px;
  padding-bottom: 300px;
}

.app__element {
  
}

@keyframes show {
  0% {
      color: white;
      opacity: 0%;
  }
}

@keyframes hide {
  0% {
      color: black;
      opacity: 100%;
  }
}
