.app {
  text-align: center;
  width: 100%;
}

.section__border {
  margin: 5% 0%;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  color: black;
}

.app_body {
  position: relative;
  min-height: 100vh;
}

.elements {
  padding-top: 10%;
  padding-bottom: 15%;
}

@keyframes show {
  0% {
      color: white;
      opacity: 0%;
  }
}

@keyframes hide {
  0% {
      color: black;
      opacity: 100%;
  }
}
